# Python Virtualenv
/investopedia-env
/__pycache__

# Env
.env

# Data
/metadata
/vector_data

# Models
/bert-base-uncased
/distilbert/distilbert-base-uncased
/google-bert/bert-large-uncased
/sentence-transformers/all-MiniLM-L6-v1
/sentence-transformers/all-MiniLM-L6-v2
/sentence-transformers/all-MiniLM-L12-v1
/sentence-transformers/all-MiniLM-L12-v2
/entence-transformers/paraphrase-MiniLM-L3-v2
/sentence-transformers/paraphrase-MiniLM-L6-v2
/sentence-transformers/paraphrase-MiniLM-L12-v2
/sentence-transformers/all-roberta-large-v1
/sentence-transformers/all-distilroberta-v1
/sentence-transformers/multi-qa-MiniLM-L6-dot-v1
/sentence-transformers/multi-qa-MiniLM-L6-cos-v1
/hkunlp/instructor-base
/hkunlp/instructor-large
/hkunlp/instructor-xl
/llama